@model JobAdFormModel

<div class="row">
    <div clas="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title..." />
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description..."></textarea>

                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control" placeholder="Salary..." />
                <span asp-validation-for="Salary" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityOfWork"></label>
                <input asp-for="CityOfWork" class="form-control" placeholder="City of workplace..." />
                <span asp-validation-for="CityOfWork" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfEmployment"></label>
                <select asp-for="TypeOfEmployment" class="form-control">
                    <option value="Internship">Internship</option>
                    <option value="Freelance project">Freelance project</option>
                    <option value="Full time">Full time</option>
                    <option value="Part time">Part time</option>
                    <option value="Flexible time">Flexible time</option>
                </select>
                <span asp-validation-for="TypeOfEmployment" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForeignLanguage"></label>
                <input asp-for="ForeignLanguage" class="form-control" placeholder="Foreign language..." />
                <span asp-validation-for="ForeignLanguage" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OffDaysCount"></label>
                <input asp-for="OffDaysCount" class="form-control" placeholder="Off days count..." />
                <span asp-validation-for="OffDaysCount" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeOffice"></label>
                <select asp-for="HomeOffice" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="HomeOffice" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number..." />
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoUrl"></label>
                <input asp-for="LogoUrl" class="form-control" placeholder="Logo image link..." />
                <span asp-validation-for="LogoUrl" class="small text-danger"></span>
            </div>
            <div class ="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                @foreach(var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>                    
                }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
