@model List<JobAdAllViewModel>

@{
    ViewData["Title"] = "My Job Offers";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if(!Model.Any())
{
    <h2 class="text-center">You do not have any job offers yet!</h2>
}
else
{
    <div class="row">
        @foreach (JobAdAllViewModel jobAd in Model)
        {
            <partial name="_JobAdPartial" model="jobAd"/>
        }
    </div>
}